In [2]:
import numpy as np
from basic_function import *
from collections import OrderedDict

In [3]:
info = get_train_log(None)

In [3]:
info

,user_id,item_id,cat_id,seller_id,brand_id,time_stamp,action_type
0,328862,323294,833,2882,2661,829,0
1,328862,844400,1271,2882,2661,829,0
2,328862,575153,1271,2882,2661,829,0
3,328862,996875,1271,2882,2661,829,0
4,328862,1086186,1271,1253,1049,829,0
5,328862,623866,1271,2882,2661,829,0
6,328862,542871,1467,2882,2661,829,0
7,328862,536347,1095,883,1647,829,0
8,328862,364513,1271,2882,2661,829,0
9,328862,575153,1271,2882,2661,829,0
10,328862,239288,602,420,4953,801,0
11,328862,950862,962,4605,7622,801,0
12,328862,262500,602,420,4953,801,0
13,328862,1064265,614,4605,7622,801,0
14,328862,809148,602,420,4953,801,0
15,328862,197239,602,420,4953,801,0
16,328862,43367,1505,3828,1446,526,0
17,328862,844535,302,3354,883,526,0
18,328862,886633,1505,3828,1446,526,0
19,328862,81766,614,4605,7622,709,2
20,328862,524981,664,2382,1272,602,0
21,328862,81766,614,4605,7622,709,0
22,328862,208525,267,3073,8126,805,0
23,328862,853901,267,3073,8126,805,2
24,328862,1102596,267,3073,8126,805,2
25,328862,963870,267,3073,8126,805,2
26,328862,813647,267,3073,8126,805,2
27,328862,208525,267,3073,8126,805,2
28,328862,943106,662,3354,883,526,0
29,328862,950862,962,4605,7622,709,0
...,...,...,...,...,...,...,...
54925300,208016,188869,898,3716,7995,1110,0
54925301,208016,51712,898,3763,8434,1110,0
54925302,208016,51712,898,3763,8434,1110,0
54925303,208016,899591,898,3716,2946,1110,0
54925304,208016,558670,898,1346,7995,1110,0
54925305,208016,869502,898,3716,5508,1110,0
54925306,208016,272094,898,1346,7995,1110,0
54925307,208016,107662,898,1346,7995,1110,0
54925308,208016,51712,898,3763,8434,1110,0
54925309,208016,514594,898,3763,8434,1110,0
54925310,208016,51712,898,3763,8434,1110,0
54925311,208016,97934,898,3716,7995,1110,0
54925312,208016,540243,898,1346,7995,1110,0
54925313,208016,722838,898,3716,5508,1110,0
54925314,208016,48664,898,1346,7995,1110,0
54925315,208016,952056,898,3763,8434,1110,0
54925316,208016,952056,898,3763,8434,1110,0
54925317,208016,952056,898,3763,8434,1110,0
54925318,208016,572517,898,4992,6137,1110,0
54925319,208016,188869,898,3716,7995,1110,0
54925320,208016,952056,898,3763,8434,1110,0
54925321,208016,272094,898,1346,7995,1110,0
54925322,208016,952056,898,3763,8434,1110,0
54925323,208016,48664,898,1346,7995,1110,0
54925324,208016,466472,898,1346,7995,1110,0
54925325,208016,107662,898,1346,7995,1110,0
54925326,208016,1058313,898,1346,7995,1110,0
54925327,208016,449814,898,983,7995,1110,0
54925328,208016,634856,898,1346,7995,1110,0
54925329,208016,272094,898,1346,7995,1111,0

In [4]:
info.drop(columns=["item_id"], inplace=True)

In [5]:
p =info.groupby(by="user_id").size().reset_index()
p.columns=["user_id","count"]

In [6]:
info = info[info["user_id"].isin(p[p["count"]<2000]["user_id"])]

In [8]:
info

          user_id  cat_id  seller_id  brand_id  time_stamp  action_type
0          328862     833       2882      2661         829            0
1          328862    1271       2882      2661         829            0
2          328862    1271       2882      2661         829            0
3          328862    1271       2882      2661         829            0
4          328862    1271       1253      1049         829            0
5          328862    1271       2882      2661         829            0
6          328862    1467       2882      2661         829            0
7          328862    1095        883      1647         829            0
8          328862    1271       2882      2661         829            0
9          328862    1271       2882      2661         829            0
10         328862     602        420      4953         801            0
11         328862     962       4605      7622         801            0
12         328862     602        420      4953         801            0
13         328862     614       4605      7622         801            0
14         328862     602        420      4953         801            0
15         328862     602        420      4953         801            0
16         328862    1505       3828      1446         526            0
17         328862     302       3354       883         526            0
18         328862    1505       3828      1446         526            0
19         328862     614       4605      7622         709            2
20         328862     664       2382      1272         602            0
21         328862     614       4605      7622         709            0
22         328862     267       3073      8126         805            0
23         328862     267       3073      8126         805            2
24         328862     267       3073      8126         805            2
25         328862     267       3073      8126         805            2
26         328862     267       3073      8126         805            2
27         328862     267       3073      8126         805            2
28         328862     662       3354       883         526            0
29         328862     962       4605      7622         709            0
...           ...     ...        ...       ...         ...          ...
54925300   208016     898       3716      7995        1110            0
54925301   208016     898       3763      8434        1110            0
54925302   208016     898       3763      8434        1110            0
54925303   208016     898       3716      2946        1110            0
54925304   208016     898       1346      7995        1110            0
54925305   208016     898       3716      5508        1110            0
54925306   208016     898       1346      7995        1110            0
54925307   208016     898       1346      7995        1110            0
54925308   208016     898       3763      8434        1110            0
54925309   208016     898       3763      8434        1110            0
54925310   208016     898       3763      8434        1110            0
54925311   208016     898       3716      7995        1110            0
54925312   208016     898       1346      7995        1110            0
54925313   208016     898       3716      5508        1110            0
54925314   208016     898       1346      7995        1110            0
54925315   208016     898       3763      8434        1110            0
54925316   208016     898       3763      8434        1110            0
54925317   208016     898       3763      8434        1110            0
54925318   208016     898       4992      6137        1110            0
54925319   208016     898       3716      7995        1110            0
54925320   208016     898       3763      8434        1110            0
54925321   208016     898       1346      7995        1110            0
54925322   208016     898       3763      8434        1110            0
54925323   208016     898       1346      7995        1110            0
54925324   208016     898       1346      7995        1110            0
54925325   208016     898       1346      7995        1110            0
54925326   208016     898       1346      7995        1110            0
54925327   208016     898        983      7995        1110            0
54925328   208016     898       1346      7995        1110            0
54925329   208016     898       1346      7995        1111            0

[53763935 rows x 6 columns]

In [7]:
info.to_pickle("all.pkl",compression="zip")

In [10]:
df = info

In [11]:
df = df[df["action_type"] == 2][["user_id", "seller_id", "time_stamp"]].groupby('user_id').apply(
                lambda x: x.sort_values('time_stamp')).rename(columns={'user_id': 'user'}).reset_index()

In [12]:
df

         user_id   level_1    user  seller_id  time_stamp
0              1  23288888       1        925        1011
1              1  23288867       1       4026        1021
2              1  23288874       1       1019        1111
3              1  23288875       1       1019        1111
4              1  23288876       1       1019        1111
5              1  23288877       1       1019        1111
6              2  26051110       2        420         626
7              2  26051111       2        420         626
8              2  26051112       2        420         626
9              2  26051137       2       2076         721
10             2  26051093       2       1974         817
11             2  26051127       2       3552        1010
12             2  26051128       2       3552        1010
13             2  26051131       2       1679        1111
14             2  26051132       2       1679        1111
15             2  26051133       2       1179        1111
16             2  26051134       2       1679        1111
17             2  26051135       2       1784        1111
18             2  26051138       2       4924        1111
19             2  26051139       2       1784        1111
20             3  25403662       3        795         516
21             3  25403672       3        795         516
22             3  25403624       3       4461         819
23             3  25403618       3       2313        1111
24             4  30064438       4       1186        1111
25             5  37517391       5       3736         520
26             5  37517404       5       1483         520
27             5  37517356       5       1875         626
28             5  37517380       5       3507         812
29             5  37517290       5        360         903
...          ...       ...     ...        ...         ...
3292114   424167  19740704  424167        140         529
3292115   424167  19740715  424167       4766        1021
3292116   424167  19740724  424167       4599        1023
3292117   424167  19740711  424167       3959        1108
3292118   424167  19740716  424167       1200        1111
3292119   424167  19740729  424167       1200        1111
3292120   424168  20913626  424168        899         811
3292121   424168  20913628  424168        899         811
3292122   424168  20913653  424168        899         811
3292123   424168  20913537  424168         24         920
3292124   424168  20913560  424168       3947        1103
3292125   424168  20913708  424168       1000        1111
3292126   424169   7340215  424169       2228         511
3292127   424169   7340272  424169       3898         512
3292128   424169   7340322  424169       4731         525
3292129   424169   7340425  424169       3760         815
3292130   424169   7340424  424169       1272         815
3292131   424169   7340336  424169       1480        1007
3292132   424169   7340352  424169       1123        1014
3292133   424169   7340359  424169       2670        1014
3292134   424169   7340276  424169       3628        1031
3292135   424169   7340240  424169       1344        1101
3292136   424169   7340189  424169       3628        1107
3292137   424169   7340188  424169       1344        1107
3292138   424169   7340344  424169       3898        1110
3292139   424169   7340345  424169       3898        1110
3292140   424169   7340346  424169       3507        1110
3292141   424169   7340347  424169       3898        1110
3292142   424169   7340263  424169       1840        1111
3292143   424170  13710714  424170       4268        1111

[3292144 rows x 5 columns]